
.message-container img {
  max-width: 45%;
  height: auto;
}

.custom-scrollbar {
 
  scrollbar-width: thin; 
  scrollbar-color: rgb(192, 192, 192) transparent; 
  
  -webkit-scrollbar {
    width: 4px;
  }


}
