@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    --maincolor: #1faaa8;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: "MsCorpres EmberFont", "sans-serif";
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@font-face {
  font-family: "MsCamz";
  src: url("./fonts/MsCamz/Dv1WQ5DdeMS5qP7.woff2") format("woff2"),
    url("./fonts/MsCamz/e0LnMbFWJC-TMQz.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MsCorpres EmberFont";
  font-weight: 200;
  font-style: italic;
  src: url(./fonts/MsCamz/ozb5-CLHQWI6Soc.woff2) format("woff2"),
    url(./fonts/MsCamz/twzZHebXjCHBb6v.woff) format("woff");
}

@font-face {
  font-family: "MsCorpres EmberFont";
  src: url(./fonts/MsCamz/pDxWAF1pBB0dzGB.woff2) format("woff2"),
    url(./fonts/MsCamz/kfKKBuoqcD$AUKL.woff) format("woff");
}

@font-face {
  font-family: "MsCorpres EmberFont";
  font-style: italic;
  src: url(./fonts/MsCamz/WOnTLzkiaEccV7F.woff2) format("woff2"),
    url(./fonts/MsCamz/JJsp0ZvgpfwzJM6.woff) format("woff");
}

@font-face {
  font-family: "MsCorpres EmberFont";
  font-weight: 500;
  src: url(./fonts/MsCamz/VjTR4RqBzY0mUYx.woff2) format("woff2"),
    url(./fonts/MsCamz/XIvhNCZAsrT80Wz.woff) format("woff");
}

@font-face {
  font-family: "MsCorpres EmberFont";
  font-weight: 500;
  font-style: italic;
  src: url(./fonts/MsCamz/KwhNPG8Jz-Vz2X7.woff2) format("woff2"),
    url(./fonts/MsCamz/YAEPfuhs1l-argd.woff) format("woff");
}

@font-face {
  font-family: "MsCorpres EmberFont";
  font-weight: 700;
  src: url(./fonts/MsCamz/KFPk-9IF4FqAqY-.woff2) format("woff2"),
    url(./fonts/MsCamz/mzVbGSgvdBfRLX9.woff) format("woff");
}

@font-face {
  font-family: "MsCorpres EmberFont";
  font-style: italic;
  font-weight: 700;
  src: url(./fonts/MsCamz/2SazJx$EeTHfhMN.woff2) format("woff2"),
    url(./fonts/MsCamz/CjbL$jCCegyfqZ7.woff) format("woff");
}


.ql-toolbar .ql-formats button:hover {
  background: rgba(0, 0, 0, 0.05); /* hover background */
}
.ql-toolbar .ql-formats button {
  margin-right: 10px; /* space between buttons */
  border-radius: 4px;
  transition: background 0.2s ease;
}

.editor-fullscreen {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  background: white;
  z-index: 9999;
  padding: 10px;
}

.editor-fullscreen .p-editor-container {
  height: 100% !important;
}

.editor-fullscreen .p-editor-content {
  height: calc(100% - 50px) !important; /* Adjust for toolbar height */
}


